@model sp20team13finalproject.Models.ViewModels.SearchViewModel
@using sp20team13finalproject.Controllers

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Reservation</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="FlightDetail.FlightDetailID" />
            @*@Html.HiddenFor(model => model.FlightDetail.FlightDetailID)*@
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

