
<h1>Seed Data</h1>

<p>These buttons will seed your data!  Push them to add data to your database!!</p>

<a asp-controller="Seed" asp-action="SeedAirports" class="btn btn-info">Seed Airports (1)</a>
&nbsp;&nbsp;
<a asp-controller="Seed" asp-action="SeedFlightDetails" class="btn btn-warning">Seed Flight Details (3)</a>
&nbsp;&nbsp;
<a asp-controller="Seed" asp-action="SeedFlights" class="btn btn-warning">Seed Flights (2)</a>