
@{
    ViewData["Title"] = "Index";
}

<span class="text-danger">@ViewBag.ErrorMessage</span>
<h2>Food Truck Checkout</h2>

<form asp-action="Calculate" method="get">
    <p class="form-group">
        <label>Enter the customer code:</label>
        <input type="text" name="strCode" class="form-control" /><br />
    </p>
    <p class="form-group">
        <label>Enter the number of tacos:</label>
        <input type="text" name="strTacos" class="form-control" /><br />
    </p>
    <p class="form-group">
        <label>Enter the number of sandwiches:</label>
        <input type="text" name="strSands" class="form-control" /><br />
    </p>

    <button type="submit" class="btn btn-success">Checkout</button>
</form>